@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: 'Ballerick';
    src: url(./fontes/Ballerick/Ballerick.otf) format('opentype');
}
@font-face {
    font-family: 'GothamPro';
    src: url(./fontes/GothamPro/GothamPro-LightItalic.ttf)
    format('truetype');
    src: url(./fontes/GothamPro/GothamPro.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;

}

:root {

    --font-title-intro: 'Ballerick';
    --font-paragrafos: 'GothamPro';
    --cor-background: #F4C95D; /* cor nova */
    --cor01: #201353; /* cor nova */
    --cor02: #DC143C; /* cor nova */
    --cor03: #E7E393; /* cor nova */
    --cor04: #838E83; /* cor nova */
}
html {
    font-size: 62.5%; /* equivale a 10px*/
    height: 100%; /* para config. rodapé */
}
body {
    font-size: 1.6rem; /* resetando pro valor padrao, só que relativo. */
    margin: 0;
    font-family: var(--font-paragrafos);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
html,
body {
    background-color: white;
}

p {
    font-size: 2rem;
    line-height: 2.8rem;
    height: auto;
    width: 45ch;
    text-align: justify;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    max-width: 980px;
    height: 100%;
    margin: auto;
}
.container-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    
    width: 90%;
    max-width: 1500px;
    margin: auto;
}
.container-competencias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


    width: 90%;
    max-width: 980px;
    height: 100%;
    margin: auto;
}
/*================================
        CABECALHO
================================*/

.cabecalho {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.199), rgb(197, 197, 197));
    height: 8rem;
    width: 100%;
    font-weight: bold;
    border-bottom: 5px solid rgb(151, 151, 151);
}
.logo {
    color: var(--cor02);
    font-size: 2.4rem;
}
.logo:hover {
    color: var(--cor02);
    font-size: 2.4rem;
    text-shadow: 1px 1px 1px rgba(99, 12, 12, 0.432);
}
.logo:active {
    color: var(--cor02);
    font-size: 2.4rem;
    text-shadow: none;
}

.navbar {
    display: flex;
}
.menu,
.login {
    padding: 0.9375em;
}
.menu a,
.login a{
    padding: 0.9375em;
}
.menu:hover,
.login:hover {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.205), rgba(196, 196, 196, 0.863));
    border-radius: 3px;
}

.autenticacao {
    display: flex;
}

.login,
.registre-se {
    margin: auto 0.625em;
}
.registre-se {
    background-color: var(--cor02);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 0.625em;
}
.registre-se a {
    color: whitesmoke;
}

/*================================
        CONFIGS DO MAIN
=================================*/

.conteudo-principal {
    background-color: var(--cor-background);
    flex-grow: 1; /*Main preenche o vazio entre body e footer*/
}



/*================================
        SECAO INTRODUCAO
=================================*/

.introducao {
    background-color: var(--cor01);
    padding: 1.25em;
}
.introducao h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1em;
    color: whitesmoke;
}

.introducao p {
    color: whitesmoke;
    font-size: 2rem;
}

.introducao img {
    padding: 0.625em;
    width: 21.875em;
    border: 3px groove whitesmoke;
    border-radius: 50%;
}
.introducao a:link {
    color: var(--cor03);
}
.introducao a:visited {
    color: var(--cor03);
}

/*================================
        SEÇÃO COMPETENCIAS
================================*/
.competencias-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150rem;
    margin: auto;
}

.competencias {
    font-size: 1.6rem;
    padding: 1.875em;
}
.competencias h1 {
    font-size: 3rem;
    margin-top: 0.625em;
    color: var(--cor01);
}
.competencias p {
    margin-top: 1.25em;
}


.competencias img {
    align-items: center;
    width: 9.375em;
}


/*==============================
            RODAPÉ
==============================*/

.rodape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape {
    font-size: 1.6rem;
    position: sticky;
    top: 100%;
    padding: 1.875em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.199), rgb(197, 197, 197));
}
.rodape h1 {
    font-size: 3rem;
} 
.rodape ul {
    list-style: none;

    width: 90%;
    max-width: 980px;
    height: 100%;
}




/*==============================
        MEDIAS QUERIES
==============================*/

@media (max-width: 1375px) {
    .competencias-container {
        flex-direction: column;
    }
    .split {
        margin-bottom: 3.125em;
    }
}

@media (max-width: 1260px) {
    .container-intro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1005px) {
    .registre-se,
    .login {
        display:none;
    }
}

@media (max-width: 760px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 695px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 660px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 610px) {
    html {
        font-size: 40%;
    }
}